@use "@/mixins" as *;

.BaseQueryModule {
  @include rounded;
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 0 0.5rem;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  color: var(--foreground-primary);
  box-sizing: border-box;
}

.PlaceholderQueryModule {
  border-style: dashed;
  border-width: 2px;
  background-color: var(--background-secondary);
  color: var(--foreground-tertiary);
  cursor: pointer;

  transition: background-color 0.25s;
  &:hover {
    background-color: var(--background-tertiary);
    color: var(--foreground-tertiary);
  }
}

.PlaceholderQueryModuleTrigger {
  display: flex;
}

.TypeDialog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  container: type-modal-container / inline-size;
}

.TypeDialogSplit {
  display: grid;
  grid-template-columns: 1fr 1px auto;
  gap: 1rem;
  padding-right: 0.5rem;
}

.TypeDialog__Left {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.VerticalRuler {
  position: sticky;
  top: 0px;
  width: 1px;
  background-color: var(--border-primary);
}

.TypeDialog__Right {
  height: fit-content;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.TypeDialog__Section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.TypeDialogActionButtons {
  padding-top: 1rem;
  margin-top: 1rem;
  align-self: flex-end;
}

.TypeDialogGridItemImage {
  width: 100%;
  background-color: var(--background-primary);

  @container type-modal-container (width < 900px) {
    width: 150px;
  }

  max-height: 70dvh;
}

.TypeDialogActionButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.QueryModuleIcon {
  width: 15px;
  height: 15px;
}

.QueryModuleTitle {
  @include text-base;
  text-align: left;
}

.QueryModuleIconWithText {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.SpacedChildren {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.125rem 0;
  align-items: center;
}

.SpacedSmall {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  height: 100%;
  align-items: center;
}

.ControlWithLabel {
  display: flex;
  flex-direction: row;
  margin: auto auto;
  gap: 0.25rem;
  align-items: center;
}

.ControlWithLabel__Label {
  @include text-base;
  white-space: nowrap;
  text-align: left;
  color: var(--foreground-secondary);
}

.IconBase {
  width: 20px;
  height: 20px;
  transition: 0.25s border;
  transition: 0.25s background-color;
  cursor: pointer;
  & > path {
    fill: none;
  }
}

.IconLarge {
  width: 30px;
  height: 30px;
}

.IconBase:hover {
  background-color: var(--background-primary) !important;
}

.IconToggled {
  background-color: var(--background-secondary);
  border: 1px solid var(--accent-main);
}

.IconUnToggled {
  background-color: unset;
  border: 1px solid var(--background-tertiary);
}

.FileTreeWrapper {
  min-height: 70vh;
  min-width: 45vw;
}

.CloseIcon {
  width: 20px;
  height: 20px;
  & > path {
    fill: var(--foreground-primary);
  }
  cursor: pointer;
}

.ContainsErrors {
  border-bottom: 2px solid var(--accent-tertiary);
}
