@use "@/mixins" as *;

.BaseQueryModule {
  @include rounded;
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 0 0.5rem;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  color: var(--foreground-primary);
  box-sizing: border-box;
}

.PlaceholderQueryModule {
  border-style: dashed;
  border-width: 2px;
  background-color: var(--background-secondary);
  color: var(--foreground-tertiary);
  cursor: pointer;

  transition: background-color 0.25s;
  &:hover {
    background-color: var(--background-tertiary);
    color: var(--foreground-tertiary);
  }
}

.PlaceholderQueryModuleTrigger {
  display: flex;
}

.TypeSteps {
  width: 100%;
  height: 100%;
  position: relative;
}

.TypeDialog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 80dvw;
  height: auto;

  max-width: 1500px;

  display: block;
  container: type-modal-container / inline-size;
}

.TypeDialogSplit {
  display: grid;
  grid-template-columns: 1fr 1px 0.25fr;
  gap: 1rem;
  padding-right: 0.5rem;
}

.TypeDialog__Left {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.VerticalRuler {
  position: sticky;
  top: 0px;
  width: 1px;
  background-color: var(--border-primary);
}

.TypeDialog__Right {
  height: fit-content;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.TypeDialogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;

  @container type-modal-container (width < 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @container type-modal-container (width < 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.TypeDialogActionButtons {
  padding-top: 1rem;
  margin-top: 1rem;
  align-self: flex-end;
}

.TypeDialogGridItemTile {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  background-color: var(--background-primary);
  transition: background-color 0.25s;
  cursor: pointer;

  &[data-disabled="true"] {
    background-color: var(--background-secondary);
    cursor: not-allowed;
  }

  &:hover {
    &[data-disabled="false"] {
      background-color: var(--background-tertiary) !important;
      border-color: var(--accent-main);
    }
  }
}

.TypeDialogGridItem {
  position: relative;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .TypeDialogGridItemTile {
    outline: 3px solid var(--accent-main);
    outline-offset: -3px;
  }
}

.TypeDialogGridItemImage {
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--background-secondary);
}

.TypeDialogGridItemContent {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.TypeDialogGridItemTitle {
  @include text-base;
  font-weight: medium;
  text-align: left;
}

.TypeDialogGridItemDescription {
  @include text-sm;
  text-align: left;
}

.QueryModuleIcon {
  width: 15px;
  height: 15px;
}

.QueryModuleTitle {
  @include text-base;
  text-align: left;
}

.QueryModuleIconWithText {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.SpacedChildren {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.125rem 0;
  align-items: center;
}

.SpacedSmall {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  height: 100%;
  align-items: center;
}

.ControlWithLabel {
  display: flex;
  flex-direction: row;
  margin: auto auto;
  gap: 0.25rem;
  align-items: center;
}

.ControlWithLabel__Label {
  @include text-base;
  white-space: nowrap;
  text-align: left;
  color: var(--foreground-secondary);
}

.IconBase {
  width: 20px;
  height: 20px;
  transition: 0.25s border;
  transition: 0.25s background-color;
  cursor: pointer;
  & > path {
    fill: none;
  }
}

.IconBase:hover {
  background-color: var(--background-primary) !important;
}

.IconToggled {
  background-color: var(--background-secondary);
  border: 1px solid var(--accent-main);
}

.IconUnToggled {
  background-color: unset;
  border: 1px solid var(--background-tertiary);
}

.FileTreeWrapper {
  min-height: 70vh;
  min-width: 45vw;
}

.CloseIcon {
  width: 20px;
  height: 20px;
  & > path {
    fill: var(--foreground-primary);
  }
  cursor: pointer;
}

.ContainsErrors {
  border-bottom: 2px solid var(--accent-tertiary);
}
