@use "@/mixins" as *;
@use "sass:color";

.TitleBar {
  display: flex;
  border-bottom: 1px solid var(--border-primary);
  width: 100vw;
  flex-direction: row;
}

.Logo {
  width: 1.5rem;
  height: 1.5rem;
}

.Title {
  font-weight: semi-bold;
  color: var(--foreground-primary);
  display: inline-block;
  margin: auto 0;
  margin-left: 0.75rem;
}

.Branding {
  display: flex;
  padding-right: 1rem;
  padding: 0.25rem 0.5rem;
  border-right: 1px solid var(--border-primary);
  flex-direction: row;
  align-items: center;
}

.Left {
  --_gap-size: 1rem;

  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin-left: 1rem;
  gap: var(--_gap-size);
}

.Right {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  padding-right: 1rem;
  gap: 0.5rem;
  margin-left: auto;
  align-items: center;
}

.Menu {
  padding: 0.125rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.MenuItem {
  position: relative;
  margin: auto 0;
  width: 5.25rem;
  text-align: center;
  cursor: pointer;

  > a {
    transition: color 0.25s;
    color: var(--foreground-primary);
  }

  &:not(:first-of-type) {
    ::before {
      content: "";
      display: block;
      height: 50%;
      width: 1px;
      position: absolute;
      left: calc(-1px - (var(--_gap-size) / 2));
      top: 25%;

      background-color: var(--border-primary);
    }
  }
}

.Selected {
  position: relative;
  > a {
    color: var(--accent-main);
  }

  ::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    background: var(--accent-main);
    border: 1px solid var(--accent-main);
    border-bottom: 0;
    animation: enlarge 0.3s forwards;
  }
}

@keyframes skewX {
  0% {
    transform: none;
  }
  100% {
    transform: skewX(-5deg);
  }
}

@keyframes enlarge {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: calc(100% + 2px);
    left: -1px;
  }
}

.MenuItemText {
  font-weight: 500;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
  text-decoration: none;
}

.MenuItemText:hover {
  color: var(--foreground-link);
}

.InfoText {
  color: var(--foreground-primary);
  font-weight: 400;
  text-align: right;
  font-size: 1rem;
  line-height: 1rem;
  margin: auto 0;
  white-space: nowrap;
}

.SelectIcon {
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
}

.Link {
  cursor: pointer;
  text-decoration: none !important;
}

.IconButton {
  width: 40px;
  height: 40px; 

  & > path {
    fill: var(--foreground-primary);
  }
}

.IconToggled {
  background-color: var(--background-secondary);
  border: 1px solid var(--accent-main);
}

.IconUnToggled {
  background-color: unset;
  border: 1px solid var(--background-tertiary);
}

