@use "@/mixins" as *;
@use "sass:color";

.TitleBar {
  display: flex;
  border-bottom: 1px solid var(--border-primary);
  width: 100vw;
  flex-direction: row;
}

.Logo {
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.Title {
  font-weight: semi-bold;
  color: var(--foreground-primary);
  display: inline-block;
  margin: auto 0;
  margin-left: 0.75rem;
}

.Branding {
  display: flex;
  padding-right: 1rem;
  padding: 0.25rem 1rem;
  border-right: 1px solid var(--border-primary);
  flex-direction: row;
}

.Left {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

.Right {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  padding-right: 1rem;
  gap: 1rem;
}

.Menu {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.MenuItem {
  margin: auto 0;
  margin-left: 1rem;
  width: 7rem;
  text-align: center;
  cursor: pointer;
}

.Selected {
  position: relative;
  animation: skewX 0.3s forwards;

  ::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    background: var(--accent-main);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
    animation: enlarge 0.3s forwards;
  }
}

@keyframes skewX {
  0% {
    transform: none;
  }
  100% {
    transform: skewX(-5deg);
  }
}

@keyframes enlarge {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

.MenuItemText {
  color: var(--foreground-primary);
  font-weight: 500;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  text-decoration: none;
}

.MenuItemText:hover {
  color: var(--accent-main);
}

.InfoText {
  color: var(--foreground-primary);
  font-weight: 400;
  text-align: right;
  font-size: 1rem;
  line-height: 1rem;
  margin: auto 0;
}
