@use "@/mixins" as *;
@use "sass:color";

.button {
  @include transition-all;
  @include shadow-lg;
  border-radius: 0.25rem;
  padding: 0.8rem 1rem;
  display: block;
  border: none;
}

.buttonFilled {
  background-color: var(--accent-main);
  color: var(--accent-main-fg);
  &:hover {
    background-color: var(--accent-secondary);
    color: var(--accent-secondary-fg);
    cursor: pointer;
  }
}

.buttonOutline {
  background-color: unset;
  color: var(--foreground-primary);
  border: 1px solid var(--accent-main);
}
