@use "@/mixins" as *;

.Button {
  @include transition-all;
  @include shadow-lg;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  text-align: center;
  &:disabled {
    background-color: var(--background-tertiary);
    cursor: not-allowed;
  }
}

.ButtonFilled {
  background-color: var(--accent-main);
  color: var(--accent-main-fg);
  &:hover {
    background-color: var(--accent-main-dark);
    color: var(--accent-main-fg);
    cursor: pointer;
  }
}

.ButtonGray {
  background-color: var(--background-tertiary);
  color: var(--foreground-secondary);
  &:hover {
    background-color: var(--accent-secondary);
    color: var(--accent-secondary-fg);
    cursor: pointer;
  }
}

.ButtonOutline {
  background-color: unset;
  color: var(--foreground-primary);
  border: 1px solid var(--accent-main);
}

.ButtonSmall {
  @include text-sm;
  padding: 0.1rem 1rem;
}

.ButtonRegular {
  @include text-base;
  padding: 0.5rem 1rem;
}

.ButtonLarge {
  @include text-lg;
  padding: 0.5 1rem;
}
