@use "@/mixins" as *;
@use "@/colors";

.ButtonBase {
  @include transition-all;
  padding: 0.25rem 1rem;
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.Button {
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid var(--border-tertiary);

  &:active {
    @include button-click-animation;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    border-color: var(--border-primary);
    color: var(--foreground-disabled);
    & > svg {
      & > path {
        fill: var(--foreground-disabled);
      }
    }
    background-color: var(--background-tertiary);
    cursor: not-allowed;
  }

  & > svg {
    margin: 0;
  }
}

.ButtonUnstyled {
  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

.ButtonFilled {
  background-color: colors.$accent-main;
  color: var(--accent-main-fg);
  border-color: colors.$accent-main;
  & > svg {
    fill: var(--accent-main-fg);
  }
  &:hover {
    &:not(:disabled) {
      background-color: colors.darken(colors.$accent-main, 15%);
      border-color: colors.darken(colors.$accent-main, 15%);
      color: var(--accent-main-fg);
    }
  }
}

.ButtonDangerous {
  background-color: colors.$color-tomato;
  color: white;
  border-color: colors.$color-tomato;
  & > svg {
    fill: white;
  }
  &:hover {
    background-color: colors.darken(colors.$color-tomato, 15%);
    border-color: colors.darken(colors.$color-tomato, 15%);
  }
}

.ButtonGray {
  background-color: var(--background-tertiary);
  color: var(--foreground-secondary);
  & > svg {
    fill: var(--foreground-secondary);
  }
  &:hover {
    border-color: var(--border-primary);
    background-color: var(--background-secondary);
  }
}

.ButtonOutline {
  background-color: unset;
  color: var(--foreground-primary);
  border: 1px solid var(--accent-main);
  & > svg {
    fill: var(--foreground-primary);
  }
}

.ButtonSmall {
  @include text-xs;
  padding: 0.1rem 1rem;
}

.ButtonRegular {
  @include text-sm;
  padding: 0.25rem 1rem;
}

.ButtonLarge {
  @include text-base;
  padding: 0.5rem 1rem;
}
