.Canvas {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 9rem);
  padding: 1rem;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: auto;
  position: relative;
}

.Stage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  width: 300px;
}
