@use "@/mixins" as *;

@mixin panel {
  width: 300px;
  height: 100%;
  position: relative;
  display: flex;
  padding: 0.5rem 0.5rem;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  overflow-y: auto;
}

@mixin card {
  position: relative;
  display: flex;
  flex-direction: column;
}

@mixin card-title {
  @include text-xs;
  text-align: left;
  font-family: "Iosevka Extended", monospace;
  font-weight: 300;
  margin: 0.75rem 0 0 0;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  line-height: 120%;
}

.CardTitle {
  @include card-title;
}

.Card {
  @include card;
}

@mixin card-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0;
  flex: 0 0;
  margin-bottom: 0.5rem;
}

.CardHead {
  @include card-head;
}

@mixin right-aligned-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-shrink: 0;
}

.RightAlignedGroup{
  @include right-aligned-group;
}

@mixin svg-icon {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
}

.Panel {
  @include panel;
}

@mixin section {
  @include rounded;
}

.Section {
  @include section;
}

@mixin section-head {
  background-color: var(--background-tertiary);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  flex-direction: row;

  h1 {
    @include text-xl;
  }
}

.SectionHead {
  @include section-head;
}

@mixin section-body {
  padding: 0.5rem 1rem;
}

.SectionBody > * {
  @include section-body;
}

@mixin block {
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.Block {
  @include block;
}

.sectionBody .block:last-of-type {
  border-bottom: none;
}

@mixin inline-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 0 0;
}

.InlineRow {
  @include inline-row;
}

.FullWidth {
  width: 100%;
}

.ToolbarIcon {
  @include svg-icon;
}

.FlexGrow {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.Pointer {
  cursor: pointer;
}

/* Overlay that covers things beneath a Popover */
.PopoverUnderlay {
  @include z-index-elevated-2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000080;
}