@use "@/shared" as shared;
@use "@/mixins" as *;

.section {
  @include shared.section;

  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sectionBody {
  @include shared.section-body;

  height: 100%;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
}

.sectionBody > * {
  padding: 0;
}

.sectionHead {
  @include shared.section-head;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
