@use "sass:color";

/* Accent colors */
$color-gizblue: #007acc;
$color-tomato: #e94f37;
$color-lavender: #d4cdf4;
$color-plum: #5c29af;
$color-gold: #ffb800;

$accent-main: $color-gizblue;
$accent-main-fg: #fff;
$accent-secondary: $color-plum;
$accent-secondary-fg: #fff;
$accent-tertiary: $color-tomato;
$accent-tertiary-fg: #fff;

@function lighten($color, $amount: 20%) {
  @return color.scale($color, $lightness: $amount);
}

@function darken($color, $amount: 20%) {
  @return color.scale($color, $lightness: -$amount);
}

:root {
  /* Main colors */
  --color-lightgray: #ececef;
  --color-darkgray: #13161a;
  --color-white: #fff;
  --color-black: #000;
  --color-zinc: #dedede;
  --color-gunmetal: #2b303a;
  --color-gray: #cecece;
  --color-darkslate: #35404e;
  --color-disabled: #8d8d8d;
  --color-darkred: #200202;
  --color-peach: #fbe5eb;

  --color-gizblue: #{$color-gizblue};
  --color-tomato: #{$color-tomato};
  --color-lavender: #{$color-lavender};
  --color-plum: #{$color-plum};
  --color-gold: #{$color-gold};

  /* Color definitions */
  @media (prefers-color-scheme: light) {
    --background-primary: var(--color-white);
    --background-secondary: var(--color-lightgray);
    --background-tertiary: var(--color-zinc);
    --background-red: var(--color-peach);
    --foreground-primary: var(--color-darkgray);
    --foreground-secondary: var(--color-black);
    --foreground-tertiary: var(--color-gunmetal);
    --foreground-disabled: var(--color-disabled);
    --foreground-link: #0069c2;

    --accent-main: var(--color-gizblue);
    --accent-main-dark: var(--color-gizblue-dark);
    --accent-main-fg: var(--color-white);
    --accent-secondary: var(--color-lavender);
    --accent-secondary-fg: var(--color-black);
    --accent-tertiary: var(--color-tomato);
    --accent-tertiary-fg: var(--color-white);

    --border-primary: var(--color-gray);
    --border-secondary: var(--color-darkslate);
  }

  @media (prefers-color-scheme: dark) {
    --background-primary: var(--color-darkgray);
    --background-secondary: var(--color-black);
    --background-tertiary: var(--color-gunmetal);
    --background-red: var(--color-darkred);
    --foreground-primary: var(--color-lightgray);
    --foreground-secondary: var(--color-white);
    --foreground-tertiary: var(--color-zinc);
    --foreground-disabled: var(--color-disabled);
    --foreground-link: #8cb4ff;

    --accent-main: var(--color-gizblue);
    --accent-main-dark: var(--color-gizblue-dark);
    --accent-main-fg: var(--color-white);
    --accent-secondary: var(--color-plum);
    --accent-secondary-fg: var(--color-white);
    --accent-tertiary: var(--color-tomato);
    --accent-tertiary-fg: var(--color-white);

    --border-primary: var(--color-darkslate);
    --border-secondary: var(--color-gray);
  }
}
