@use "mixins" as *;

@layer reset, components, overrides;

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Iosevka Extended";
  src: url("./fonts/Iosevka-Extended.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Main colors */
  --color-lightgray: #ececef;
  --color-darkgray: #13161a;
  --color-white: #fff;
  --color-black: #000;
  --color-zinc: #dedede;
  --color-gunmetal: #2b303a;
  --color-gray: #cecece;
  --color-darkslate: #35404e;
  --color-disabled: #8d8d8d;
  --color-darkred: #200202;
  --color-peach: #fbe5eb;

  /* Accent colors */
  --color-gizblue: #007acc;
  --color-gizblue-dark: #005086;
  --color-tomato: #e94f37;
  --color-lavender: #d4cdf4;
  --color-plum: #5c29af;
  --color-gold: #ffb800;

  /* Color definitions */
  @media (prefers-color-scheme: light) {
    --background-primary: var(--color-white);
    --background-secondary: var(--color-lightgray);
    --background-tertiary: var(--color-zinc);
    --background-red: var(--color-peach);
    --foreground-primary: var(--color-darkgray);
    --foreground-secondary: var(--color-black);
    --foreground-tertiary: var(--color-gunmetal);
    --foreground-disabled: var(--color-disabled);
    --foreground-link: #0069c2;

    --accent-main: var(--color-gizblue);
    --accent-main-dark: var(--color-gizblue-dark);
    --accent-main-fg: var(--color-white);
    --accent-secondary: var(--color-lavender);
    --accent-secondary-fg: var(--color-black);
    --accent-tertiary: var(--color-tomato);
    --accent-tertiary-fg: var(--color-white);

    --border-primary: var(--color-gray);
    --border-secondary: var(--color-darkslate);
  }

  @media (prefers-color-scheme: dark) {
    --background-primary: var(--color-darkgray);
    --background-secondary: var(--color-black);
    --background-tertiary: var(--color-gunmetal);
    --background-red: var(--color-darkred);
    --foreground-primary: var(--color-lightgray);
    --foreground-secondary: var(--color-white);
    --foreground-tertiary: var(--color-zinc);
    --foreground-disabled: var(--color-disabled);
    --foreground-link: #8cb4ff;

    --accent-main: var(--color-gizblue);
    --accent-main-dark: var(--color-gizblue-dark);
    --accent-main-fg: var(--color-white);
    --accent-secondary: var(--color-plum);
    --accent-secondary-fg: var(--color-white);
    --accent-tertiary: var(--color-tomato);
    --accent-tertiary-fg: var(--color-white);

    --border-primary: var(--color-darkslate);
    --border-secondary: var(--color-gray);
  }
}

@layer reset {
  html {
    font-family: "FiraGO", system-ui, sans-serif;
    background-color: var(--color-giz-white);
    height: 100%;
    width: 100%;
    overflow: hidden;
    scrollbar-width: thin;
    user-select: none;
  }

  body {
    height: 100%;
    margin: 0;
  }

  #root {
    height: 100%;
  }

  code {
    font-family: "Iosevka Extended", monospace;
  }

  pre {
    font-family: "Iosevka Extended", monospace;
  }

  /* Sane CSS defaults inspired by `preflight` */
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }
  /* End of preflight block */

  body > * {
    @include text-base;
    color: var(--foreground-primary);
  }

  h1 {
    @include text-2xl;
    font-weight: bold;
  }

  h2 {
    @include text-xl;
    font-weight: medium;
  }

  h3 {
    @include text-lg;
    font-weight: medium;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

// Inlined styling for `react-grid-layout` and `react-resizable`.
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: none;
  transition-property: left, top;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid var(--border-secondary);
  border-bottom: 2px solid var(--border-secondary);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
