@mixin rounded {
  border: 1px solid var(--border-primary);
  border-radius: 2px;
}

@mixin rounded-left {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid var(--border-primary);
  border-right: none;
}

@mixin rounded-right {
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid var(--border-primary);
  border-left: none;
}

@mixin transition-all {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  //transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@mixin font-code {
  font-family: "Iosevka Extended";
}

@mixin font-base {
  font-family: "Figtree";
}

@mixin shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
@mixin shadow {
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}
@mixin shadow-md {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
@mixin shadow-lg {
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
@mixin shadow-xl {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
@mixin shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
@mixin shadow-huge {
  box-shadow: 0 10px 60px #000c;
}
@mixin shadow-bottom {
  box-shadow: 0 15px 15px 2px #000c;
}

@mixin text-xs {
  font-size: 0.625rem; /* 10px */
  line-height: 0.875rem; /* 14px */
}
@mixin text-sm {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
}
@mixin text-base {
  font-size: 0.875rem; /* 14px */
  line-height: 1.375rem; /* 22px */
}
@mixin text-lg {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
@mixin text-xl {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
}
@mixin text-2xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

@mixin transition-bg {
  transition-property: background-color;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
@mixin section-head {
}

@mixin adjust-scale-with-canvas {
  transform: scale(var(--canvas-scale-reverse));
}

@mixin adjust-scale-x-with-canvas {
  transform: scale(var(--canvas-scale-reverse), 1);
}

@mixin adjust-scale-x-with-canvas-reverse {
  transform: scale(var(--canvas-scale-reverse), 1);
}

@mixin adjust-scale-y-with-canvas {
  transform: scale(1, var(--canvas-scale));
}

@mixin adjust-scale-y-with-canvas-reverse {
  transform: scale(1, var(--canvas-scale-reverse));
}

@mixin z-index-base {
  z-index: 0;
}

@mixin z-index-base-1 {
  z-index: 1;
}

@mixin z-index-base-2 {
  z-index: 2;
}

@mixin z-index-base-3 {
  z-index: 3;
}

@mixin z-index-elevated {
  z-index: 5;
}

@mixin z-index-elevated-2 {
  z-index: 6;
}

@mixin z-index-dialog {
  z-index: 10;
}

@mixin z-index-dialog-2 {
  z-index: 11;
}

@mixin z-index-overlay {
  z-index: 20;
}

@mixin z-index-max {
  z-index: 50;
}

@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin xl2 {
  @media (min-width: 1536px) {
    @content;
  }
}
