---
import { HeroModule } from "../components/react/hero";
import { Header } from "../components/react/header";
import Layout from "../layouts/layout.astro";
import heroShot from "../assets/giz-chrome.png";
import favicon from "../assets/giz-icon.svg";
---

<Layout title="Gizual">
  <div class="flex h-full min-h-[100dvh] w-full flex-col justify-between">
    <main class="flex w-full grow flex-col">
      <Header logo={favicon.src} />
      <HeroModule imageSrc={heroShot.src} />
    </main>
    <footer
      class="flex h-14 w-full flex-col items-center justify-center border-t border-border-primary"
    >
      <p class="text-foreground-tertiary">Copyright © Gizual, 2024.</p>
      <p class="text-center text-sm text-foreground-tertiary">
        Created with ❤️ by <a
          href="https://github.com/steschi"
          class="text-foreground-link hover:underline">Stefan Schintler</a
        > and <a href="https://github.com/NarrowCode" class="text-foreground-link hover:underline"
          >Andreas Steinkellner</a
        >, supervised by <a
          href="https://isds.tugraz.at/keith"
          class="text-foreground-link hover:underline">Keith Andrews</a
        >.
      </p>
    </footer>
  </div>
</Layout>
