@use "@/shared" as *;

.repoPanel {
  @include panel;
  border-right: 1px solid var(--border-primary);
}

.fileTree {
  margin-bottom: 10rem;
}

.sectionHead {
  @include section-head;
  justify-content: space-between;
}
