@use "@/mixins" as *;

@layer reset, components, overrides;

@layer components {
  .IconButton {
    @include rounded;
    @include transition-bg;
    padding: 0.25rem;
    position: relative;
    cursor: pointer;
    background-color: var(--background-tertiary);
    width: auto;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    transition:
      border-color 0.2s,
      background-color 0.2s;
    border-color: var(--border-primary);
  }

  .IconButton:hover {
    border-color: var(--accent-main) !important;
    background-color: var(--background-secondary);
  }

  .Wide {
    width: 5rem;
  }

  .BorderRight {
    @include rounded-right;
  }

  svg {
    margin: auto;
    height: 100%;
    width: auto;
  }

  svg > path {
    fill: var(--foreground-primary);
  }

  .Colored {
    background-color: var(--accent-main);
    color: #fff;
    svg > path {
      fill: #fff;
    }
  }
}
