@use "@/mixins" as *;
@use "sass:color";

.Footer {
  @include z-index-base-3;
  @include text-base;
  min-height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-tertiary);
  color: var(--foreground-primary);
  padding: 0 0.75rem;
  border-top: 1px solid var(--border-primary);
}

@mixin footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.LeftSection {
  @include footer-container;
  justify-content: flex-start;

  // border-right on all child elements
  > * {
    padding: 0 1rem;
    border-right: 1px solid var(--border-primary);
  }
}

.RightSection {
  @include footer-container;
  justify-content: flex-end;
  text-align: right;
  font-family: monospace;

  // border-left on all child elements
  > * {
    padding: 0 1rem;
    border-left: 1px solid var(--border-primary);
  }
}
