@use "@/mixins" as *;
@use "sass:color";

.Footer {
  @include z-index-base-3;
  @include text-base;
  min-height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-tertiary);
  color: var(--foreground-primary);
  padding: 0 0.75rem;
  border-top: 1px solid var(--border-primary);

  @media (width < 1024px) {
    justify-content: center;
  }
}

@mixin footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.LeftSection {
  @include footer-container;
  @include font-code;
  @include text-sm;
  justify-content: flex-start;

  // border-right on all child elements
  > * {
    padding: 0 1rem;
    border-right: 1px solid var(--border-primary);
  }

  @media (width < 1024px) {
    display: none;
  }
}

.RightSection {
  @include footer-container;
  @include font-code;
  @include text-sm;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  > * {
    padding: 0 1rem;
  }
  > p {
    padding-bottom: 3px;
  }

  // border-left on all child elements
  > *:not(:first-child) {
    border-left: 1px solid var(--border-primary);
  }
}

.Metrics {
  gap: 0.25rem;
  display: flex;
  flex-direction: row;

  > span {
    padding-right: 0.5rem;
    margin-right: 0.25rem;
    border-right: 1px solid var(--border-primary);
  }

  > span:nth-last-child(2),
  span:nth-last-child(1) {
    padding-right: unset;
    margin-right: unset;
    border-right: none;
  }
}

.UtilizationGraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  max-width: 80px;
  align-items: center;

  @media (width < 600px) {
    max-width: 40px !important;
    & > div {
      width: 4px !important;
      height: 4px !important;
    }
  }
}

.UtilizationGraphItem {
  display: inline-block;
  height: 6px;
  width: 6px;
  border: 1px solid var(--border-primary);
  transition: background-color 0.5s ease-in-out;
}

.UtilizationGraphItem__Busy {
  background-color: #ff0000;
  animation: utilization-busy 2s ease-in-out infinite;
}

.UtilizationGraphItem__Idle {
  background-color: #007900;
}

@keyframes utilization-busy {
  0% {
    background-color: #ff0000;
  }
  50% {
    background-color: #ba0000;
  }
  0% {
    background-color: #ff0000;
  }
}

.IconExplorer {
  width: 20px;
  height: 20px;
  & > path {
    fill: var(--background-primary);
  }
  padding-bottom: 2px;
}

.IconRenderer {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
}

.NumJobs {
  display: block;

  @media (width < 600px) {
    display: none;
  }
}

.NumJobsShort {
  display: none;

  @media (width < 600px) {
    display: block;
  }
}
