@use "@/mixins" as *;

.DialogOverlay {
  @include z-index-overlay;
  background-color: #00000090;
  position: fixed;
  inset: 0;
  animation: overlayShow 350ms cubic-bezier(0.16, 1, 0.3, 1);
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.DialogContent {
  @include z-index-max;
  border-radius: 4px;
  background-color: var(--background-primary);
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  margin: auto auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //calc(var(--radix-popover-content-available-width));
  max-height: var(--radix-popover-content-available-height);
  padding: 1rem;
}
.DialogContent:focus {
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
    0 0 0 2px var(--violet7);
}
.DialogContent[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.DialogContent[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DialogContent[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DialogContent[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.DialogArrow {
  fill: var(--background-primary);
}

.DialogClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-main);
  background-color: var(--background-primary);
  position: absolute;
  top: 5px;
  right: 5px;
}
.DialogClose:hover {
  background-color: var(--accent-main);
}
.DialogClose:focus {
  box-shadow: 0 0 0 2px var(--accent-main);
}

.Trigger {
  cursor: pointer;
}

.Dialog {
  @include z-index-max;
  @include rounded;

  position: fixed;
  max-width: 80%;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  padding: 1rem;
  border: 1px solid var(--border-primary);
  gap: 1rem;
}

.DialogHead {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
}

.DialogBody {
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 85vh;
  overflow: auto;
  position: relative;
  display: flex;
}

.DialogTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.DialogFooterContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 1rem;
}
