@use "@/mixins" as *;
@use "@/shared" as shared;

.EmphasizedContainer {
  background-color: var(--background-red);
  color: var(--foreground-primary);
  font-weight: medium;
  padding: 1rem;
  text-wrap: balance;
  width: 100%;
}

.WelcomeParagraph {
  padding-top: 1rem;
}

.EmphasizedHeader {
  text-align: center;
  padding-bottom: 0.5rem;
}

.Card {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  min-width: 220px;
  margin-bottom: 2rem;
}

.Container {
  @include shadow-2xl;
  @include rounded;
  background-color: var(--background-secondary);
  width: 70%;
  position: relative;
  margin: auto auto;
  max-width: 800px;
}

.App {
  background-color: var(--background-primary);
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.Main {
  flex-grow: 1;
  position: relative;
  display: block;
  min-height: 0;
}

.WelcomeImage {
  @include rounded;
  margin-top: 2rem;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.WelcomeAnimation {
  margin-left: auto;
  margin-right: auto;
}

.Header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1rem;
}

.DropZone {
  flex-grow: 0;
  align-self: flex-start;
  border: 2px dashed var(--foreground-secondary);
  text-align: center;
  margin: 1px;
  padding: 2px;

  &.DropZoneActive {
    background-color: gray;
    border: 3px dashed var(--foreground-primary);
    margin: 0;
  }

  &.DropZoneActive .DropZoneText {
    user-select: none;
    pointer-events: none;
    color: var(--foreground-primary);
  }
}

.Page {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.TitleBarContainer {
  position: relative;
}

.Body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 0;
}

.SplitPanel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  padding: 0 1rem;
}

.Column {
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  min-width: calc(100vw - 2rem);
  padding: 1rem 0;
  overflow-x: hidden;
  overflow-y: auto;

  @include lg {
    width: 33%;
    max-width: 450px;
    min-width: 380px;
  }
}

.DetailColumn {
  gap: 1rem;
  flex-grow: 1;
  padding: 1rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.Grow {
  flex-grow: 1;
}

.CollapseIcon {
  transition: transform 0.3s;
}

.BackIcon {
  transform: rotate(-180deg);
  width: 1rem;
  height: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  animation-name: rotate-left;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes rotate-left {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

.Collapsible {
  gap: 0.25rem;
}

.CollapsibleHeader {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  cursor: pointer;
  > svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.CollapsibleHeaderText {
  @include text-2xl;
  font-weight: 500;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
}

.CollapsibleContent {
  @include rounded;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--background-secondary);
  padding: 0.5rem;
}

.OpenRow {
  gap: 1rem;
}

.OpenRow__Selected {
  @include rounded;
  border-width: 0;
  transition: background-color 0.25s;
  background-color: var(--background-tertiary);
}

.OpenRowLeft {
  flex-grow: 1;
  flex-shrink: 0;
  gap: 0.5rem;
  position: relative;
}

.OpenRowTitle {
  @include text-base;
  font-weight: 300;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  color: var(--foreground-link);
}

.RepoRowLeft {
  flex-grow: 1;
  flex-shrink: 0;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  position: relative;
  pointer-events: none;

  > svg {
    width: 30px;
    height: 30px;
  }
}

.RepoRowRight {
  @include shared.right-aligned-group;
  gap: 1rem;
  pointer-events: none;
}

.RepoRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: unset;
  border: unset;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.25s;

  &:hover {
    background-color: var(--background-tertiary);
  }
}

.RepoRowName {
  @include text-base;
  font-weight: 600;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  color: var(--foreground-link);
  text-decoration: none;
}

.RepoRowSource {
  @include text-xs;
  font-family: "Iosevka Extended";
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  color: var(--foreground-disabled);
  text-decoration: none;
  margin-top: -2px;
}

.RepoRowMetrics {
  @include text-xs;
  color: var(--foreground-primary);
}

.VerticalRule {
  height: 100%;
  width: 1px;
  background-color: var(--border-primary);
}

@layer components {
  .BrowserIcon > path {
    fill: revert-layer;
  }
}

.DetailHeader {
  @include text-2xl;
  font-weight: 500;
  text-align: left;
}

.DetailDescription {
  @include text-base;
  font-weight: 300;
  text-align: left;
  color: var(--foreground-primary);
}

.AdvancedConfigurationTitle {
  @include text-lg;
}

.Radio {
  :global .ant-radio {
    align-self: flex-start !important;
    margin-top: 2px; // Custom offset to account for the line-height of the text.
  }
}

.NotSupportedText {
  @include text-sm;
  font-weight: 300;
  text-align: left;
  color: var(--color-tomato);
  font-style: italic;
}

.GifPanel {
  --_aspect-ratio: 1.7777777778;
  --_width: 550px;
  --_min-width: 200px;
  @include rounded;

  position: relative;
  min-width: var(--_min-width);
  min-height: calc(var(--_min-width) / var(--_aspect-ratio));
  aspect-ratio: var(--_aspect-ratio);

  width: 100%;

  max-width: var(--_width);
  max-height: calc(var(--_width) / var(--_aspect-ratio));
  background-color: var(--background-secondary);
}

.LoadButton {
  width: 400px;
  min-width: 200px;
}

.Gif {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
