@use "@/mixins" as *;
@use "@/shared" as shared;

.FileHead {
  @include shared.card-head;
  margin-bottom: calc(0.5rem * var(--canvas-scale-reverse));
  flex: unset;
  //@include adjust-scale-y-with-canvas;
  transform-origin: bottom;
}

.FileHeadLeft {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.5rem; //calc(0.5rem * var(--canvas-scale-reverse));
  overflow: hidden;
  //@include adjust-scale-y-with-canvas-reverse;
  transform-origin: bottom left;
  font-size: 1rem; //calc(1rem * var(--canvas-scale-reverse));
  line-height: 1rem; //calc(1rem * var(--canvas-scale-reverse));
}

@mixin icon-scaled {
  @include shared.svg-icon;
  width: 25px; //calc(32px * var(--canvas-scale-reverse));
  height: 25px; //calc(32px * var(--canvas-scale-reverse));
}

.FileIcon {
  width: 25px;
  height: 25px;
  @include icon-scaled;
}

.FileTitle {
  @include shared.card-title;
  margin: unset;
  align-self: flex-end;
}

.FontIcon {
  //@include adjust-scale-with-canvas;
  transform-origin: bottom left;
}

.FavouriteIcon {
  @include icon-scaled;
  & > path {
    fill: var(--color-gold);
  }
}

.FavouriteIconUnfilled {
  @include icon-scaled;
  fill: var(--color-gold);
}

.LoadingContainer {
  display: flex;
  align-items: center;
  width: 25px; //calc(32px * var(--canvas-scale-reverse));
  height: 25px; //calc(32px * var(--canvas-scale-reverse));
  flex-shrink: 0;
  flex-grow: 0;
  //padding: calc(5px * var(--canvas-scale-reverse));
  transform-origin: center left;
  @include adjust-scale-with-canvas;
}

.FileActions {
  @include shared.right-aligned-group;
  //@include adjust-scale-y-with-canvas-reverse;
  transform-origin: bottom right;
}

.FileActionIcon {
  @include icon-scaled;
  fill: var(--foreground-primary);
  &:hover > path {
    @include transition-all;
    fill: var(--accent-main);
    cursor: pointer;
  }
}

.EmptyCanvas {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  &:hover {
    background-color: var(--background-tertiary);
    cursor: pointer;
  }
}

.File {
  @include shared.card;
  width: 300px;
  height: 400px;
}

.LoadFileIcon {
  position: relative;
  margin: auto auto;
  width: 8rem;
  cursor: pointer;
}

.FileBody {
  border: 1px solid var(--border-primary);
  flex: 1 0;
  position: relative;
}

.FileCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
