@use "@/mixins" as *;

.FileTree {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.125rem;
  cursor: pointer;
}

.FileTree__Root {
  position: relative;
}

.FileTreeItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.FileTreeItem__Chevron {
  transition: transform 0.25s;
}

.FileTreeItem__Name {
  @include text-sm;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  color: var(--foreground-primary);
}

.Nested {
  margin-left: 1.5rem;
}
