@use "@/mixins" as *;

.Node {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--background-tertiary);
  }
  span:first-child {
    margin-right: 4px;
  }
}

.Children {
  margin-left: 16px;
}

.FileList {
  ul {
    list-style: none;
  }
  cursor: pointer;
}

.FileListHeader {
  @include text-base;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.Tree {
  background-color: unset;
  :global(.ant-tree-treenode-selected .ant-tree-title) {
    background-color: unset;
  }
  :global(.ant-tree-treenode) {
    width: 100%;
  }
}

.TreeEntry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow: hidden;
  align-items: center;
}

.TreeNode {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
