@use "@/mixins" as *;

.SearchModule {
  @include rounded;
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 0 0.5rem;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.SearchModuleIcon {
  width: 15px;
  height: 15px;
}

.SearchModuleTitle {
  @include text-base;
  color: var(--foreground-primary);
  text-align: left;
}

.SearchModuleIconWithText {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.SpacedChildren {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
  align-items: center;
}

.SpacedSmall {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  height: 100%;
  align-items: center;
}

.ControlWithLabel {
  display: flex;
  flex-direction: row;
  margin: auto auto;
  gap: 0.25rem;
  align-items: center;
}

.ControlWithLabel__Label {
  @include text-base;
  white-space: nowrap;
  text-align: left;
  color: var(--foreground-secondary);
}

.IconBase {
  width: 20px;
  height: 20px;
  transition: 0.25s border;
  transition: 0.25s background-color;
  cursor: pointer;
}

.IconBase:hover {
  background-color: var(--background-primary) !important;
}

.IconToggled {
  background-color: var(--background-secondary);
  border: 1px solid var(--accent-main);
}

.IconUnToggled {
  background-color: unset;
  border: 1px solid var(--background-tertiary);
}

.FileTreeWrapper {
  height: 80vh;
  min-width: 30vw;
}

.CloseIcon {
  width: 15px;
  height: 15px;
  & > path {
    fill: var(--color-tomato);
  }
  cursor: pointer;
}
