@use "@/mixins" as *;

.EditorHeader {
  margin-bottom: 1rem;
}

.EditorContainer {
  display: flex;
  flex-direction: column;
}

.Editor {
  @include z-index-elevated-2;
  display: flex;
  flex-grow: 1;
  position: relative;
}

:global(.GitGutter) {
  --_paddingTop: 0.1rem;

  width: 0.5rem;
  height: 100%;
  height: calc(100% - var(--_paddingTop));
  color: white;

  font-size: 0.45rem;
  line-height: 0.45rem;
  padding-left: 0.1rem;
  padding-top: var(--_paddingTop);
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;

  word-break: break-word;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}