@use "@/mixins" as *;

.EditorContainer {
  position: relative;
  display: block;
  gap: 0.5rem;
  width: 100%;
  min-height: 80dvh;
  height: 100%;
}

.Editor {
  display: relative;
  width: 100%;
  visibility: visible;
  max-width: 95vw;
}

.EditorLoading {
  visibility: hidden;
}

.EditorActionGroup {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}
