@use "@/shared" as shared;
@use "@/mixins" as *;

.Timeline {
  border-bottom: 1px solid var(--border-primary);
  overflow: auto;
  max-height: 50vh;
}

.TimelineComponent {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid var(--border-primary);
}

.TimelineContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 120px;
  min-height: 120px;
}

.DateRangeInfoText {
  @include text-xs;
  position: absolute;
  bottom: 0;
}

.DateRangeCenterText {
  @include text-xs;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.NotLoadedOverlay {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotLoadedOverlayContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.TimelineSvgWrapper {
  width: 100%; /* Overridden through the LayoutEffect later */
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.TimelineInfoColumn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
}

.CurrentBranchInfoContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.InteractionLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  pointer-events: auto;
}

.Header {
  @include text-xl;
  margin-right: 1rem;
  margin-left: 1rem;
}

.TimelineHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 0.5rem;
  border-bottom: 1px solid var(--border-primary);
  margin-top: 0.5rem;
}

.RectContainer {
  stroke: var(--border-primary);
  background-color: var(--background-secondary);
  fill: var(--background-tertiary);
}

.Tooltip {
  background: var(--background-secondary);
  color: var(--foreground-primary);
  border: 1px solid var(--border-primary);
  padding: 5px;
  z-index: 1000;
  white-space: nowrap;
  pointer-events: none;
  
  /* Absolutely positioned at the top left, moved exclusively with CSS transforms. */
  position: absolute;
  top: 0;
  left: 0;
}

.TooltipContent {
  white-space: pre;
  background-color: unset;
  line-height: 50%;
}

.SelectionBox {
  background: #30308020;
  border: 1px solid var(--border-secondary);
  pointer-events: none;
}

.SelectionBoxLine {
  background-color: var(--color-gold);
}

@mixin ruler-annotation {
  @include text-xs;
  pointer-events: none;
  fill: var(--foreground-primary);
}

.RulerAnnotationLeft {
  @include ruler-annotation;
  text-anchor: start;
}

.RulerAnnotationRight {
  @include ruler-annotation;
  text-anchor: end;
}

.CommitCircle {
  fill: var(--background-tertiary);
  stroke: var(--foreground-primary);
  stroke-width: 1px;
  position: relative;
}

.CommitLayer {
  pointer-events: auto;
}

.CommitCircleText {
  stroke: var(--foreground-secondary);
  text-anchor: middle;
}

.CommitCircleHover {
  fill: var(--color-gold);
}

.CommitCircleHighlight {
  stroke: var(--color-gold) !important;
  stroke-width: 2px !important;
}

.Svg {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 150;
  position: relative;
  pointer-events: none;
}
