@use "@/mixins" as *;
@use "@/shared" as shared;

.SearchBar {
  width: 100%;
  height: 3.5rem;
  border-bottom: 1px solid var(--border-primary);
}

.Content {
  padding: 0.5rem 1rem;
  display: flex;
}

.SearchInput {
  @include rounded;
  width: 100%;
  height: 2.5rem;
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  z-index: 300;
  position: relative;
  margin-left: 0.5rem;
  color: var(--foreground-primary);
  font-size: 1rem;
  line-height: 1rem;
  justify-content: center;
  font-family: "Iosevka Extended", monospace !important;
}

.SearchInput:focus {
  outline: none;
}

.SearchInputWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 1rem;
}

.InputFieldWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 300;
}

.InputFieldWrapper:has(input:focus) {
  outline: 0;
}

.SearchIcon {
  @include rounded;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 300;
}

.SearchOverlay {
  @include rounded;
  @include shadow-huge;
  border-radius: 0.5em;
  background-color: var(--background-secondary);
  position: absolute;
  top: calc(-0.5rem - 1px);
  left: -0.5rem;
  width: calc(100% + 5px + 0.5rem);
  min-height: 60px;
  z-index: 200;
}

.SearchOverlayContent {
  padding: 60px 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--foreground-primary);
}

.SearchOverlayHintEntry {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  margin: 0;
  padding: 0.25rem;
  background-color: var(--background-secondary);
  align-items: center;
}

.SearchOverlayHintEntry:hover {
  @include rounded;
  border-width: 0;
  background-color: var(--background-tertiary);
}

.RemoveTagEntry {
  color: var(--accent-tertiary);
}

.Tag {
  color: var(--accent-main);
}
